/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

.sarina-regular {
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding-left: 20px;
  user-select: none;
}
